body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url(freeimg_82104617freejpg850.jpg);
    background-size: cover;
    background-position: center;
}
.grid-container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1.5fr 4fr 3fr 2fr;
    grid-template-columns: 1fr 1.2fr 2fr;
    grid-template-areas: 
    "main main nav"
    "main main icecream"
    "tasty healthy icecream"
    "footer footer icecream";
}
main {
   
    grid-area: main;
    position: relative;
   
}
.tasty {
    grid-area: tasty;
   color: whitesmoke;
    
}
.healthy {
    grid-area: healthy;  
    background-repeat: no-repeat;
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
    
}
footer {
    grid-area: footer; 
    font-family: 'Dancing Script', cursive;
    color: whitesmoke;
}
nav {
    grid-area: nav;
    color: whitesmoke;
    
}


.icecream {
    background-size: cover;
    background-position: center;
    grid-area: icecream;

}
.logo span {
    font-family: "Pacifico" , cursive;
    color: whitesmoke;
    font-size: 75px;
    padding: 0 50px;
    cursor: pointer;
}
.text, span {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: whitesmoke;
}
.text {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    font-size: 25px;
    padding: 0 50px;
}
.tasty {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nerko One', cursive;
}
.healthy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nerko One', cursive;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Nerko One', cursive;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Nerko One', cursive;
}   


h2 {
    font-family: 'Nerko One', cursive;
    color: whitesmoke;
}   
a {
    color: whitesmoke;
}